.gdpr-modal {

  background-color: $info;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  .gdpr-text {
    color: white;
    display: inline-block;
    max-width: 90%;
    padding: 10px;

    .gdpr-margin {
      margin-left: 5px;
    }
  }

  .gdpr-button {
    background: $primary;
    color: #fbf7ee;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    border-radius: 4px;
    border: none;
    color: white;
    height: 52px;
    width: 100px;
    margin: 20px;
    &:hover {
      background-color: #4e6ac2;
    }

  }
  
}
