.mp-header {
  color: $primary;
  font-size: 48px;
  font-weight: bold;
  font-family: $big-text;
}

.mp-container {
  min-height: 44vw;
  width: 80%;
  margin: 50px auto 30px auto;
  background-image: url("/images/missingPageImg.png");
  background-size: cover;
}

.mp-info {
  color: $primary;
}

.mp-img {
  max-width: 400px;
  max-height: 400px;
}
