html {
  body {
    font-family: $small-text;
  }
  body > div > main {
    background-color: $secondary !important;
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    margin: 0;
    main {
      flex: 1;
    }
    .force-top {
      z-index: 99;
    }
  }
  p {
    margin-bottom: 0;
  }
  ::selection {
    background: #3a8885;
    color: #fff;
  }
  ::-moz-selection {
    background: #3a8885;
    color: #fff;
  }
  input,
  textarea {
    padding-left: 5px !important;
    border: 0 !important;
    padding-bottom: 0 !important;
    border-radius: 0 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
    background: inherit !important;
    &:focus {
      background: #fff !important;
      border: 1px solid rgba(0, 0, 0, 0.3) !important;
    }
  }
  textarea {
    height: 3.8rem !important;
    transition: all 0.1s !important;
    &:focus {
      height: 8rem !important;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  textarea::-webkit-scrollbar {
    display: none;
  }
  textarea:focus::-webkit-scrollbar {
    display: initial;
    width: 10px;
  }
  textarea:focus::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 100px;
  }
  textarea::-moz-webkit-scrollbar {
    display: none;
  }
  textarea:focus::-moz-webkit-scrollbar {
    display: initial;
    width: 10px;
  }
  textarea:focus::-moz-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 100px;
  }
}
