html {
  body {
    font-family: $small-text;
  }
  body > div > main {
    background-color: $secondary !important;
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    margin: 0px;
    main {
      flex: 1;
    }
    .force-top {
      z-index: 99;
    }
  }
  p {
    margin-bottom: 0;
  }
}
