html {
  body {
    background-color: $secondary !important;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0px;
    main {
      flex: 1;
    }
    .force-top {
      z-index: 99
    }
  }
}