.box-container {
  background: url(/images/prodinfobg4.png);
  background-size: cover;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.prodinfo-header {
  text-align: left;
  z-index: 1;
  color: $secondary;
  font-size: 50px;
  font-weight: 800;
}

.info-text {
  z-index: 1;
  color: $secondary;
}

.prodinfo-overlay {
  width: 100%;
  height: 100%;
  background: rgba(71, 98, 183, 0.85);
  position: absolute;
  z-index: 5;
}

.prodinfo-box-1 {
  flex: auto;
  width: 50%;
  min-height: 100%;
  text-align: left;
  z-index: 10;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 8%;
}

.prodinfo-box-2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 100%;
  justify-content: center;
  z-index: 10;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 8%;
}

.fg-image {
  width: 450px;
  height: 450px;
  transform: scale(1);
  border-radius: 50%;
  vertical-align: middle;
}

@media screen and (max-width: 1200px) {
  .prodinfo-container {
    flex-direction: column;
  }
  .prodinfo-box-1,
  .prodinfo-box-2 {
    text-align: center;
    width: 100%;
    padding-right: 2%;
    padding-left: 2%;
  }
  .prodinfo-header {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .fg-image {
    width: 300px;
    height: 300px;
  }
  .prodinfo-box-1 {
    padding-top: 30px;
    padding-bottom: 0px;
  }
  .prodinfo-box-2 {
    padding-top: 50px;
  }
}
