.prodinfo-container {
  background: url(/images/prodinfobg4.png);
  background-size: cover;
  display: flex;
  flex-direction: row;
  position: relative;
}

.about-header {
  text-align: center;
  margin-top: 55px;
  z-index: 1;
  color: #fff;
  font-size: 50px;
  font-weight: 800;
}

.info-text {
  flex: auto;
  text-align: center;
  z-index: 1;
  color: #fff;
  padding: 9px;
}

.prodinfo-overlay {
  width: 100%;
  height: 100%;
  background: rgba(71, 98, 183, 0.85);
  position: absolute;
  z-index: 5;
}

.box-1 {
  flex: auto;
  width: 50%;
  height: 100%;
  color: #fdf0d0;
  text-align: left;
  z-index: 10;
}

.box-2 {
  flex: auto;
  width: 50%;
  height: 100%;
  color: #fdf0d0;
  text-align: left;
  z-index: 10;
}

.fg-image {
  max-width: 35vw;
  border-radius: 70px;
}
