.box-container {
  display: flex;
  max-height: 100vh;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  background-color: #fbf7ee;
  padding: 13px 32px 13px 32px;
  line-height: 1;
  position: relative;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;

  .box-1 {
    width: 100%;
    height: 43vh;
    color: #4762b7;
    text-align: left;
    font-size: 20px;
    padding-left: 13px;
    padding-right: 5px;
    line-height: 1.2;
    margin-top: 25px;
    flex-shrink: 1;

    .main-heading {
      margin-top: 15px;
      font-size: 40px;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
    }
  
    .link-eye-catcher {
      margin-top: 10px;
      position: absolute;
      background-color: #fbf7ee;
      color: #4762b7;
      font-weight: bold;
      font-size: 20px;
      border: 1px solid #4762b7;
      padding: 5px 5px;      
    }
  }

  .box-2 {
    width: 100%;
    height: 40vh;
    flex-shrink: 1;
    
    .eye-catcher{
      width: 65vw;
      border-radius: 50%;
    }    
  }
}

@media screen and (min-width: 1200px) {

  .box-container {
    height: 50vh;
    padding-left: 15%;
    padding-right: 13%;
    line-height: 1;
  
    #eye-catcher-heading {
      font-size: 50px;
      font-weight: 800;
    }
  
    .box-1 {
      width: 50%;
      height: 100%;
      font-size: 19px;
      padding-left: 13px;
      padding-right: 5px;
    
      .link-eye-catcher {
        margin-top: 10px;
        font-size: 21px;
        border: 1.5px solid #4762b7;
        padding: 8px 10px;
      }
    }
  
    .box-2 {
      width: 50%;
      height: 100%;

      .eye-catcher{
        max-width: 40vh;
        border-radius: 50%;
      }
    }
  }
}
 
@media only screen and (min-width: 771px) {
  .box-container {
    height: 50vh;
    padding-left: 8%;
    padding-right: 8%;
    line-height: 1;
  
    #eye-catcher-heading {
      font-size: 50px;
      font-weight: 800;
    }
  
    .box-1 {
      width: 50%;
      height: 100%;
      font-size: 19px;
      padding-left:13px;
      padding-right: 5px;
    
      .link-eye-catcher {
        margin-top: 10px;
        font-size: 21px;
        border: 1.5px solid #4762b7;
        padding: 8px 10px;
      }
    }
  
    .box-2 {
      width: 50%;
      height: 100%;

      .eye-catcher{
        max-width: 40vh;
        border-radius: 50%;
      }    
    }
  }
}

@media (min-width:490px) and (max-width: 770px){
  
  .box-container {
    height: 50vh;
    padding-left: 8%;
    padding-right: 8%;
    line-height: 1;
    padding-top: 15vh;
 
    .box-1 {
      width: 100%;
      height: 100%;
      font-size: 17px;
      padding-left:13px;
      padding-right: 5px;
       
      #eye-catcher-heading {
        font-size: 40px;
        font-weight: 800;
      }  
    
      .link-eye-catcher {
        margin-top: 10px;
        font-size: 19px;
        border: 1.5px solid #4762b7;
        padding: 6px 8px;
      }
    }
  
    .box-2 {
      width: 100%;
      height: 100%;

      #small-eye-catcher{
        margin-top: -90px;
        max-width: 25vh;
        border-radius: 50%;
        position:absolute;
        
      }    
    }
  }
}
