.box-details-container {
  display: flex;
  flex-direction: column;
  padding: 8vh 0;

  @include media-breakpoint-up(lg) {
    flex-direction: column;
    //padding: 5vw 0 !important;
  }
  position: relative;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;

  .box {
    width: 100%;

    .user-form-links {
      text-decoration: none;
    }

    .form-header {
      text-align: center;
      color: $primary;
      padding-bottom: 2vh;
      font-weight: 700;
      font-family: $big-text;
      padding-bottom: 5vh;
    }

    .registration-text-log-in {
      font-size: 14px !important;
      margin-top: 2%;
      @include media-breakpoint-up(lg) {
        padding-top: 1%;
        font-size: 13px !important;
        width: 35%;
        margin: 0 auto;
        margin-bottom: 3%;
        .login-link {
          color: $primary;
          cursor: pointer;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    .registration-text-password {
      text-align: center;
      font-size: 14px !important;
      @include media-breakpoint-up(lg) {
        font-size: 12px !important;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 3%;
      }
    }
    @include media-breakpoint-up(lg) {
      .input27 {
        width: 28.8%;
        display: inline-block;
      }
    }
  }

  .registration-buttons {
    text-align: center;
  }
}

.login-container {
  width: 100%;
  height: 100%;
  align-content: center !important;
  justify-content: center !important;
  text-align: center !important;
  padding: 5vw 5vw 0 !important;

  .login-content {
    max-width: 100%;
    margin: 0 auto 0 auto;

    .item-level {
      text-align: left;
      .registration-text {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 14px !important;
        @include media-breakpoint-up(lg) {
          width: 50%;
          margin: 0 auto;
        }
      }
    }
    .login-item {
      text-align: center;
    }

    .registration-text-log-in {
      font-size: 14px !important;
      margin-top: 2%;
      @include media-breakpoint-up(lg) {
        padding-top: 1%;
        font-size: 15px !important;
        width: 35%;
        margin: 0 auto;
        margin-bottom: 3%;
        .login-link {
          color: $primary;
          cursor: pointer;
          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .form-header {
      color: $primary;
      padding-bottom: 2vh;
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
    }

    @include media-breakpoint-up(lg) {
      .registration-form {
        width: 50% !important;
        margin: 0 auto;
      }
    }
  }
}

.button-for-register {
  display: block;
}

.set-width {
  width: 100%;
  @include media-breakpoint-up(lg) {
    width: 100%;
    margin: 0 auto;
  }
}

.set-width-registration {
  width: 100%;
  @include media-breakpoint-up(lg) {
    width: 75% !important;
    margin: 0 auto;
  }
}

.display-inline {
  display: inline-block;
}
@include media-breakpoint-up(lg) {
  .account-container {
    padding-top: 0 !important;
  }
}

.box-details-container .box-container .box .form-header {
  color: $primary;
  padding-bottom: 5vh;
  margin-top: 0;
}

@include media-breakpoint-up(lg) {
  .MQC {
    width: calc(100% + 0.5rem) !important;
  }
}

.iconFeather {
  margin-left: 0.25rem;
}
.checkbox-container {
  width: 100%;
  max-width: 464px;
  margin: 4.5rem auto 0;
  .input-group-check {
    display: block;
    margin: 10px auto;
    position: relative;
    border-radius: 10px;

    .check-label {
      margin-top: 2rem;
      padding: 4px 0 4px 64px;
      ///width: 50%;
      //height: 32px;
      display: block;
      text-align: left;
      color: $dark;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden;
      border-radius: 10px;
      font-family: $small-text;
      font-size: 16px;

      &:after {
        width: 32px;
        height: 32px;
        content: "";
        border: 2px solid #d1d7dc;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 2px 3px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
      }
    }

    .check-input:checked ~ .check-label {
      &:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
      }

      &:after {
        background-color: #22c197;
        border-color: #22c197;
      }
    }

    .check-input {
      width: 32px;
      height: 32px;
      order: 1;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }
  }
}
