.link-party-page {
  background-color: $secondary;
  color: #007e50;
  font-family: $big-text;
  font-weight: 800;
  font-size: 20px;
  border: 2px solid #007e50;
  padding: 5px 5px;
  border-radius: 2px;
  margin-top: 1rem;
  margin-left: 5px;
  transition: all 0.3s;
  &:hover {
    color: $secondary;
    background-color: #007e50;
    text-decoration: none;
  }
}

.link-cancel {
  background-color: $secondary;
  color: red;
  font-family: $big-text;
  font-weight: 800;
  font-size: 20px;
  border: 2px solid red;
  padding: 5px 5px;
  border-radius: 2px;
  margin-top: 1rem;
  margin-right: 5px;
  transition: all 0.3s;
  min-width: 110px;
  &:hover {
    color: $secondary;
    background-color: red;
    text-decoration: none;
  }
}

.buttons-container {
  min-height: 30vh;
  justify-content: center;
}

.shop-container {
  width: 100%;
}
