#swish-container {
  margin-bottom: 50px;
  padding: 0 5vw;
  width: 100%;
}
.swish-container{
  padding-top: 0 !important;
  text-align: center
}

.swish-form {
  margin: 0 auto;
  width: 100%;
  @include media-breakpoint-up(lg) {
    width: 30%;
  }
}

