
.event-heading{
  color: $primary;
}

.birthday-label{
  text-align: left;
 
}
.input-heading{
  font-weight: 600;
}
.form-input {
  display: flex;
  border-radius: 9px;
  padding: .5rem;
  margin: 5px;
}

textarea:focus, input:focus {
  color: #000000;
}

input, select, textarea{
  color: #999;
}

