.fg-image {
  width: 50% !important;
}

.birthday-label{
  text-align: left;
 
}
.input-heading{
  font-weight: 600;
}


textarea:focus, input:focus {
  color: #000000;
}

input, select, textarea{
  color: #999;
}

