.fg-image {
  width: 50% !important;
}

.birthday-label{
  text-align: left;
  display: block;
 
}
.input-heading{
  font-weight: 600;
}

textarea:focus, input:focus {
  color: #000000;
}

input, select, textarea{
  color: #999;
}

.inline-input {
  display: inline;
}

.input25, .input50 {
  display: inline-block;
}

@include media-breakpoint-up(lg){
  #time, #city {
    margin-left: 0.5rem;
  }
}