header {
  &, nav, .nav-wrapper {
    z-index: 35
  }
  background: $primary; 
  @media only screen and (min-width: 600px) and (min-height: 600px) {
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), transparent);
    // .header-wrapper {
    //   border-bottom: 3px solid $primary
    // }
  }
  @media only screen and (min-width: 1024px) and (orientation: landscape) {
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), transparent);
    // .header-wrapper {
    //   border-bottom: 3px inset #fff
    // }
  }
  .header-wrapper {
    position: relative;
    height: 10vh;
    min-height: 60px;
    width: 100%;
    z-index: 35;
    .arrow-img {
      width: 75px;
      height: auto;
      border-radius: 50%;
      box-shadow: 2px 2px 5px $dark;
      &:hover{
        filter: brightness(1.1)
      }
    }
    .logo-holder {
      display: block;
      position: absolute;
      top: 50% !important;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 1rem;
      z-index: 50;
      margin: 0 auto;
      padding: 0;
      font-family: "Montserrat";
      font-size: 36px;
      font-weight: bold;
      color: #fff;
      opacity: 0.8;
      transition: all 0.3s;
      &:hover {
        text-decoration: none;
        opacity: 1;
      }
    }
    @include media-breakpoint-up(md) {
      position: relative;
      width: 88.7vw;
      margin: 0 auto;
      .logo-holder {
        position: absolute;
        left: 0;
        top: 50% !important;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      .nav-wrapper {
        // absolute given in navbar/styles
        width: 80%;
        right: 0;
      }
    }
  }
}
