.createpartypage-wrapper {
  label {
    color: #4762b7;
    font-weight: bold;
  }
  .buttons-container {
    $marginBtn: 10px;
    width: 240px;
    margin: 40px auto 80px;
    display: flex;
    flex-wrap: wrap;
    .buttons-row1{
      flex: 2
    }
    .buttons-row2 {
      justify-content: space-around;
      flex: 1;
      margin-top: $marginBtn;
    }
    .buttons-row1,
    .buttons-row2 {
      display: flex;
      position: relative;
      width: 100%;
      justify-content: center;
      .link-cancel,
      .link-party-page,
      .link-preview-page {
        border: 0;
        border-radius: 3px;
        text-align: center;
        color: white;
        font-family: $big-text;
        font-weight: 800;
        font-size: 20px;
        padding: 5px;
        transition: all 0.3s;
        &:hover {
          text-decoration: none;
        }
      }
      .link-cancel {
        margin-right: $marginBtn;
        flex: 1;
        background-color: $danger;
        &:hover {
          background-color: rgb(219, 49, 89);
        }
      }
      .link-party-page {
        flex: 1;
        background-color: $info;
        &:hover {
          background-color: rgb(190, 107, 197);
        }
      }
      .link-preview-page {
        flex: 1;
        background-color: #3a8885;
        &:hover {
          background-color: rgb(78, 156, 153);
          text-decoration: none;
        }
      }
    }
  }
  .box-container {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    position: relative;
    width: 100%;
    min-height: 0 !important;
    padding: 10vh 0;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 15vw 5vw 0 !important;

    input,
    textarea,
    .input10,
    .input20,
    .input25,
    .input50,
    .input75,
    .input100 {
      width: 100%;
    }

    @include media-breakpoint-up(lg) {
      padding: 5vw 5vw 0 !important;
      .time-label {
        display: flex;
        & input:nth-of-type(2) {
          margin-left: 0.5rem;
        }
      }
      .input10 {
        width: 10%;
      }

      .input20 {
        width: 20%;
      }

      .input25 {
        width: 25%;
      }

      .input50 {
        width: 50%;
      }
      .input75 {
        width: 73%;
        display: inline-block;
      }
      .input100 {
        width: 100%;
      }
    }

    .invalid {
      border-color: red;
    }
    .valid {
      border: none;
    }

    .box {
      z-index: 10;
      flex: 1;
      padding: 0;
      text-align: center;
      width: 100%;

      .box-img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        @include media-breakpoint-up(xl) {
          width: 75%;
        }
      }
      h2,
      h4 {
        font-family: $big-text;
        font-weight: 800;
      }
      h2 {
        font-size: 2.5rem;
      }

      @include media-breakpoint-down(sm) {
        padding: 0;
        h2 {
          font-size: 2rem;
        }
      }

      h4 {
        margin: 5vh 0 0;
        font-size: 1.8rem;
      }
      p {
        font-family: $small-text;
        font-size: 1.5rem;
      }
    }

    @include media-breakpoint-up(md) {
      padding: 0;
      h2 {
        font-size: 3rem;
      }
    }
    @include media-breakpoint-up(lg) {
      flex-direction: row;
      .box:nth-of-type(1) {
        padding-right: 10px;
      }
      .box:nth-of-type(2) {
        padding-left: 10px;
      }

      p {
        font-size: 1rem !important;
      }
    }
    @include media-breakpoint-up(xl) {
      p {
        font-size: 1.5rem !important;
      }
    }
  }
  .form-body-container {
    img {
      margin-bottom: 2rem;
    }
  }
}

.modal-content {
  border-radius: 12px;
}

.modal-header {
  background: $primary;
  color: $secondary;
  font-family: $big-text;
  font-weight: bold;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom: none;
  width: 100.1%;
}

.modal-body {
  background: $secondary;
  font-family: "Open Sans", sans-serif;
  li {
    border-bottom: 1px solid #4761b744;
    //padding: 0 10px 0 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    color: #444655;
  }
}

.modal-footer {
  background: $secondary;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top: none;
}

.validation-modal span {
  color: $secondary;
}

.cpp-modal-button {
  color: #4761b7cc;
  font-weight: bold;
  &:hover {
    transition: all 0.3s;
    color: $primary;
    font-weight: bold;
    background-color: $secondary;
    border-color: $secondary;
  }
}
