.form-headline {
  color: $primary;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  padding: 5vw;
  text-align: left;

}

.birthday-headline {
  display: flex;
  border-radius: 9px;
  padding: .5rem;
}

.birthday-label {
  width: 100%;
  text-align: left;
}

.form-header-container {
  justify-content: center;
  text-align: center;
  margin-top: 0px;
}
