.footer-container {
  background: #4761b7CC;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 5vh 0 0;
  color: $secondary;
}

.footer-headliner {
  font-family: $big-text;
  font-size: 128px;
  font-weight: 800;
}

.footer-information {
  font-size: 20px;
  
  &:nth-child(2){
    margin-top: 30px;
  }

  &:nth-child(3){
    font-style: italic;
  }

  &:nth-child(4){
    font-weight: bold;
  }

}

.media-container {
  margin-top: 10px;
  margin-bottom: 40px;
}

.footer-images {
  
  &:nth-child(2){
    margin: 0 30px;
  }
}

.media-icon {
  
  color: #eee;
  transition: all .2s;

  &:hover{
    color: #fff;
  }

  &:nth-child(2){
    margin: 0 15px;
  }
}

.avtal-link {
  color: white;
  margin-right: 5px;
  &:hover {
    color: white;
  }
}

.help-link {
  color: white;
  &:hover {
    color: white;
  }
}

.adress-link {
  color: white;
  &:hover {
    color: white;
  }
}

.mail-link {
  color: white;
  &:hover {
    color: white;
  }
}

@media (min-width:801px){  
  .footer-headliner {
    font-size: 66px;
    font-weight: bold;
  }
}