.footer-container {
  background: #4762b7;
  display: flex;
  justify-content: center;
  text-align: center;
  

}

.footer-headliner {
  font-family: $big-text;
  font-size: 85px;
  color: #fbf7ee;
}