nav {
  width: 100%;
  .nav-wrapper {
    display: none;
    z-index: 20;
    width: 100%;
    &.open {
      width: 100%;
      position: absolute;
      display: block;
      text-align: center;
      background-color: $primary;
      padding: 0 0 1rem;
      height: auto;
      top: 0;
      @include media-breakpoint-up(md) {
        visibility: hidden;
      }
      .link-item {
        display: inline-block;
        width: 100%;
        font-family: $big-text;
        font-weight: 800;
        color: $secondary !important;
        margin: 0 0 1rem;
      }
    }
    @include media-breakpoint-up(md) {
      position: absolute;
      width: 100%;
      display: block;
      text-align: right;
      font-size: 1.1rem;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      .link-item {
        display: inline-block;
        font-family: $big-text;
        font-weight: 800;
        color: $secondary;
        margin-left: 4rem;
        //margin-bottom: 2.75vh;
        &:hover {
          cursor: pointer;
          text-decoration: none;
          color: #ffffff !important;
        }
        @include media-breakpoint-up(lg) {
          font-size: 1.3rem;
        }
      }
    }
  }
  .burger-holder {
    text-align: right;
    min-height: 10vh;
    width: 100%;
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
  .burger-menu-btn {
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px;
    //margin: 1rem 1rem 0 0;
    position: absolute;
    //width: 20%;
    right: 1rem;
    top: 50% !important;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 50;
    @include media-breakpoint-up(md) {
      display: none;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}
