.image-pick-container {
  border: 2px solid $primary;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 0 auto;
  background-repeat: repeat;
  background-clip: #fff;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;


  .image-text {
    font-size: 1rem !important;
    padding: 10px;
  }

  .container-image {
    color: $primary;
    
  }

  .image-dropdown {
    margin-top: 10px;
  }
  

}

.image-headline {
  color: $primary;
  font-size: 1rem !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 800 !important;
  padding: 5vw !important; 
  text-align: left;
}

.dd-image {
  width: 100% !important;
  border: 1px solid $dark;
  padding: 0;
  border-radius: 10px;
  background-color: black;
  opacity: .85;
  &:hover {
    opacity: 1;
  }
}
.dd-item {
  display: inline-block;
  width: 60px;
  padding: 0;
  margin: 5px 0 5px 5px;
}
.image-dropdown {
  background-color: $secondary;
  color: $primary;
  font-family: $big-text;
  font-weight: 800;
  font-size: 20px;
  border: 2px solid $primary;
  padding: 5px 5px;
  border-radius: 2px;
  margin-top: 1rem;
  transition: all .3s;
}

@include media-breakpoint-up(md){
  // .image-pick-container {
  //   height: 250px;
  // }
  // .container-image {
  //   margin-top: 40px;
  // }

  .image-headline {
    color: $primary;
    font-size: 2rem !important;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 800 !important;
    padding: 5vw !important; 
    text-align: left;
  }

  .imagehandler-container {
    margin-top: 92px;
  }

}
